.edit-tv {
  padding: 20px 10px;

  .edit-tv-info-form {
    position: relative;
    border: 1px solid var(--el-border-color-light);
    padding: 20px 15px;
    border-radius: 5px;

    .title {
      position: absolute;
      top: 0;
      left: 15px;
      transform: translateY(-50%);
      padding: 0px 10px;
      background-color: var(--background-admin-color);
    }

    .el-form-item.footer-form {
      margin-top: 20px;
      margin-bottom: 0px;

      .el-form-item__content {
        flex-direction: row-reverse;
        gap: 15px;
      }
    }
  }

  .edit-tv-image-form {
    position: relative;
    margin-top: 30px;
    border: 1px solid var(--el-border-color-light);
    padding: 20px 15px;
    border-radius: 5px;

    .title {
      position: absolute;
      top: 0;
      left: 15px;
      transform: translateY(-50%);
      padding: 0px 10px;
      background-color: var(--background-admin-color);
    }

    .el-row {
      .el-col {
        .el-button {
        }
      }
    }
  }
}
