@media only screen and (max-width: 2050px) {
  .play-container {
    .video-player {
      height: 75vh !important;
    }
  }
}

@media only screen and (max-width: 1900px) {
  .play-container {
    .video-player {
      height: 70vh !important;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .play-container {
    .video-player {
      height: 65vh !important;
    }
  }
}

@media only screen and (max-width: 1650px) {
  .play-container {
    .video-player {
      height: 60vh !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .play-container {
    .video-player {
      height: 500px !important;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .play-container {
    .video-player {
      height: 500px !important;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .play-container {
    .video-player {
      height: 450px !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .play-container {
    .video-player {
      height: 450px !important;
    }
  }
}

@media only screen and (max-width: 850px) {
  .play-container {
    .video-player {
      height: 350px !important;
    }
  }
}

@media only screen and (max-width: 750px) {
  .play-container {
    .video-player {
      height: 300px !important;
    }
  }
}

@media only screen and (max-width: 650px) {
  .play-container {
    .video-player {
      height: 250px !important;
    }
  }
}

.play-container {
  .video-player {
    height: 80vh;
  }

  .reaction-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .like-share {
      margin-top: 0px;
    }

    .add-to-list-btn {
      background-color: #006999;
      border: none;
      height: 34px;

      &:hover {
        background-color: #006999bb;
      }

      &.active {
        background-color: #006d4e;

        &:hover {
          background-color: #006d4e6c;
        }
      }
    }

    .skeleton-interaction {
      display: block;
      .ant-skeleton-button {
        padding: 17px 50px;
        border-radius: 32px;
      }
    }

    .skeleton-add-to-list {
      .ant-skeleton-button {
        padding: 17px 100px;
        border-radius: 32px;
      }
    }
  }

  .movie-content {
    padding: 0px 10px;
    color: #fff;

    p {
      text-align: justify;
    }
  }

  .list-episodes {
    .ant-skeleton {
      margin: 7px 7px 0px 0px;

      .ant-skeleton-button {
        padding: 19px 35px;
      }
    }
  }
}
