.home-container {
  // min-height: calc(100vh - var(--header-height));
  .gradient-title-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recommend-stage {
    .movie-group.horizontal {
      // display: flex;
      // flex-direction: row;
      grid-auto-flow: column;
      transition: all 0.3s;

      .loadmore-btn {
        min-height: 180px;
        height: 100%;
        background: none;
        border: 1px solid #fff;

        &:focus {
          border: 1px solid #fff;
        }

        i {
          margin-right: 3px;
        }
      }

      &.viewmore {
        grid-auto-flow: row;
      }

      .movie-card-horizontal-item {
        // grid-row: 1;
        align-self: center;
      }
    }

    .viewmore-group {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 1.7rem;
    }
  }

  .view-all {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
    transition: all 0.25s;
    background-position: 100% center;
    background-size: 100% 100%;

    &:hover {
      background-position: 100% center;
      background-size: 200% 100%;
      // opacity: 0.85;
    }
  }

  .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
}
