.home-container {
  .ant-carousel {
    .slick-track {
      height: 82vh;

      .slick-slide {
        height: 100%;

        & > div {
          height: 100%;
        }
      }
    }

    .fa-chevron-right,
    .fa-chevron-left {
      padding: 10px 20px;
      background-color: #000000;
      border-radius: 5px;
      z-index: 10;
    }

    .slick-prev {
      top: 40%;
      left: calc(100% - 75px);
      font-size: 2em;
    }

    .slick-next {
      right: 55px;
      font-size: 2em;
    }

    .slick-arrow.custom-slick-arrow {
      color: #fff;
      background-color: #1f2d3d1c;
      transition: all 0.15s;
      opacity: 0.3;
      z-index: 1;
    }

    .custom-slick-arrow:before {
      display: none;
    }
    .custom-slick-arrow:hover {
      opacity: 0.5;
    }
  }

  .gradient-title-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
