@media only screen and (max-width: 1100px) {
  #topic-history-column-teleport {
    display: none;
  }

  .history {
    .history-container > .ant-layout {
      width: 100%;
      display: flex;
      flex-direction: column;

      .topic-history-column-responsive {
        display: block;
      }

      .history-main-content {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .history {
    .history-container {
      .topic-history-column-responsive {
        .column-container {
          .top {
            flex-direction: column !important;
          }

          .viewmore-btn-history {
            right: -20px !important;
          }

          .bottom {
            .box-btn {
              flex: 1 0 40% !important;

              .remove-all-history-btn {
                margin: 0px !important;
              }
            }

            .widget {
              flex: 1 0 60% !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .history {
    .history-container {
      .topic-history-column-responsive {
        .column-container {
          .bottom {
            flex-direction: column !important;

            .box-btn {
            }

            .widget {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .history {
    .history-container {
      .topic-history-column-responsive {
        .column-container {
          display: flex;
          flex-direction: column;

          .top {
            .backdrop {
              height: 170px;
            }
          }

          .viewmore-btn-history {
            right: -20px !important;
          }

          .bottom {
            .user-info {
              width: 100%;
            }

            .widget {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .movie-follow-item {
    flex-direction: column;
    gap: 5px !important;
  }
}

@media only screen and (max-width: 480px) {
  .history .history-container .history-main-content {
    .el-skeleton {
      flex-direction: column !important;
      gap: 5px !important;

      .img-box {
        flex: 1 0 auto !important;
      }
    }
  }
}

.history {
  .history-container {
    .ant-layout {
      background-color: transparent;
    }

    .topic-history-column-responsive {
      margin-left: -20px;
      display: none;
      flex: 0 0 calc(100% + 40px);
      max-width: calc(100% + 40px);
      min-width: calc(100% + 40px);
      width: calc(100% + 40px);
      padding: 20px 20px;
      height: auto;
      overflow: hidden;
      z-index: 1;
      // background-image: linear-gradient(
      //   to bottom,
      //   rgb(53, 74, 136) 0%,
      //   rgba(53, 74, 136, 0.75),
      //   rgba(53, 74, 136, 0.5),
      //   rgba(15, 15, 15, 0.25),
      //   rgba(0, 0, 0, 0)
      // );
      background-image: linear-gradient(
        to bottom,
        rgb(16, 68, 128) 0%,
        rgba(16, 68, 128, 0.5) 33%,
        rgba(0, 0, 0, 1) 100%
      );
      background: linear-gradient(
        to bottom,
        rgb(16, 68, 128) 0%,
        rgba(16, 68, 128, 0.5) 33%,
        rgba(0, 0, 0, 1) 100%
      );
      // background-image: var(--main-color);

      .column-container {
        .top {
          display: flex;
          flex-direction: row;
          // align-items: center;
          gap: 20px;

          .backdrop {
            height: 210px;
            // width: 295px;
            min-width: 320px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            &:hover {
              .play-now {
                opacity: 1;
                background-color: #000000bd;
              }
            }

            .play-now {
              // left: 50%;
              // top: 50%;
              // transform: translateX(-50%) translateY(-50%);
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.15s;
              opacity: 0;
              color: #fff;
              gap: 10px;
              font-size: 1.4rem;

              svg {
                font-size: 1.8rem;
              }
            }

            .ant-image {
              width: 100%;
              height: 100%;

              img {
                max-height: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
              }
            }
          }

          .info {
            gap: 13px;
            position: relative;
            width: 100%;

            .title {
              margin-bottom: 13px;
              max-width: 90%;
            }

            .user-info {
              position: relative;

              p {
                font-size: 1.5rem;
              }

              .count-video {
                margin-top: 5px;
                color: #ffffff84;
                font-size: 1.5rem;

                span {
                  margin-left: 7px;
                }
              }

              .viewmore-btn-history {
                background: transparent;
                position: absolute;
                right: -10px;
                top: 0px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                background: inherit;
                border: none;
                transition: all 0.15s;

                &:active {
                  transition: all 0.2s;
                  opacity: 0.7;
                  border: 1px solid #2020204f;
                }

                &.el-button {
                  font-size: 1.76rem;
                }
              }
            }
          }
        }

        .overlay-image {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          z-index: -1;
          opacity: 0.15;
          filter: blur(20px);
          object-fit: cover;
        }

        .bottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          margin-top: 20px;

          .box-btn {
            flex: 1 0 300px;

            .remove-all-history-btn {
              min-width: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0px auto;
              border: none;
              height: 36px;
              padding: 6px 30px;
              background-color: #000000;
              transition: all 0.15s;

              &:hover {
                color: #b90016;
                background-color: #1f1f1f;
              }

              .el-icon {
                margin-right: 8px;
              }
            }
          }

          .widget {
            flex: 1 0 50%;

            .search-history {
              .ant-input-affix-wrapper {
                background: transparent;
                border: none;
                border-bottom: 2px solid #104480;
                padding-left: 25px;

                .ant-input {
                  font-size: 1.5rem;
                  background: transparent;
                }
              }

              .ant-input-group-addon {
                background: transparent;
                position: absolute;
                left: 0;
                top: 0;

                .ant-input-search-button {
                  padding: 0px;
                  background: transparent;
                  border: none;
                }
              }
            }
          }
        }
      }
    }

    .history-main-content {
      .gradient-title-default {
        margin-top: 0px;
      }

      .movie-history {
        // max-width: 850px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .el-skeleton {
        // margin-left: 28px;
        position: relative;
        display: flex;
        width: 100%;
        gap: 15px;
        margin-top: 17px;
        flex-direction: row;

        .index-item {
          margin: auto 0px;
        }

        .img-box {
          position: relative;
          flex: 1 0 250px;
          max-width: 250px;
          height: 141px;
          overflow: hidden;
          border-radius: 7px;

          .image-skeleton {
            height: 100%;
            width: 100%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          .overview {
            margin-top: 3px;
          }
        }
      }
    }
  }
}

#topic-history-column-teleport {
  position: relative;
  padding: 17px 0px 0px 0px;
  min-width: 342px;
  max-width: 342px;
  margin-left: 3px;

  .topic-history-column {
    flex: 0 0 342px;
    max-width: 342px;
    min-width: 342px;
    width: 342px;
    height: 100%;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    padding: 22px 24px;
    position: fixed;
    overflow: hidden;
    // background-image: linear-gradient(
    //   to bottom,
    //   rgb(53, 74, 136) 0%,
    //   rgba(53, 74, 136, 0.75),
    //   rgba(53, 74, 136, 0.5),
    //   rgba(15, 15, 15, 0.25),
    //   rgba(0, 0, 0, 0)
    // );
    background-image: linear-gradient(
      to bottom,
      rgb(16, 68, 128) 0%,
      rgba(16, 68, 128, 0.5) 33%,
      rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgb(16, 68, 128) 0%,
      rgba(16, 68, 128, 0.5) 33%,
      rgba(0, 0, 0, 1) 100%
    );
    // background-image: var(--main-color);

    .column-container {
      .backdrop {
        height: 170px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &:hover {
          .play-now {
            opacity: 1;
            background-color: #000000bd;
          }
        }

        .play-now {
          // left: 50%;
          // top: 50%;
          // transform: translateX(-50%) translateY(-50%);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.15s;
          opacity: 0;
          color: #fff;
          gap: 10px;
          font-size: 1.4rem;

          svg {
            font-size: 1.8rem;
          }
        }

        .ant-image {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }

      .overlay-image {
        position: absolute;
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        z-index: -1;
        opacity: 0.15;
        filter: blur(15px);
        object-fit: cover;
      }

      .info {
        margin-top: 17px;
        gap: 13px;

        .title {
          margin-bottom: 13px;
        }

        .user-info {
          position: relative;

          p {
            font-size: 1.5rem;
          }

          .viewmore-btn-history {
            background: transparent;
            position: absolute;
            right: -17px;
            top: 0px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            background: inherit;
            border: none;
            transition: all 0.15s;

            &:active {
              transition: all 0.2s;
              opacity: 0.7;
            }

            &.el-button {
              font-size: 1.76rem;
            }
          }
        }

        .count-video {
          margin-top: 5px;
          color: #ffffff84;
          font-size: 1.4rem;

          span {
            margin-left: 7px;
          }
        }
      }

      .widget {
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        gap: 17px;

        .search-history {
          .ant-input-affix-wrapper {
            background: transparent;
            border: none;
            border-bottom: 2px solid #104480;
            padding-left: 25px;

            .ant-input {
              font-size: 1.5rem;
              background: transparent;
            }
          }

          .ant-input-group-addon {
            background: transparent;
            position: absolute;
            left: 0;
            top: 0;

            .ant-input-search-button {
              padding: 0px;
              background: transparent;
              border: none;
            }
          }
        }

        .remove-all-history-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px auto;
          min-width: 200px;
          border: none;
          height: 36px;
          padding: 6px 30px;
          background-color: #000000;
          transition: all 0.15s;

          &:hover {
            color: #b90016;
            background-color: #1f1f1f;
          }

          .el-icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.body-content:has(.history .history-container) {
  .ant-layout.main-content {
    margin-left: auto;
    // margin-left: 0px;
    margin-right: 0px;
    // max-width: 850px;
    max-width: 1100px;
  }

  #topic-history-column-teleport {
    margin-right: auto;
    // margin-right: 0px;
  }

  .ant-layout-content.container {
    // margin-left: 360px !important;

    & > .wrapper {
      overflow: visible;
    }
  }
}

.ant-dropdown:has(.dropdown-viewmore) {
  border: none;
  border-radius: 10px;
  overflow: hidden;

  .ant-dropdown-menu.dropdown-viewmore {
    padding: 10px 0px;
  }

  .ant-dropdown-menu-item {
    border: none;
    padding: 10px 20px;
    font-size: 1.45rem;

    span,
    a {
      color: #fff;
    }

    svg,
    i {
      margin-right: 16px;
      font-size: 1.5rem;
    }

    .material-icons-outlined {
      font-size: 2rem;
    }
  }

  .ant-dropdown-menu-item:not(.material-icons-outlined) {
    .anticon {
      margin-left: 2px;
      margin-right: 16px;

      svg {
        margin-right: 0px;
      }
    }

    svg {
      margin-left: -2px;
      width: 15px;
      font-size: 1.5rem;
    }
  }
}
