@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Mulish&family=Nunito+Sans&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

:root {
  --background-content-color: #000;
  --hover-regular-color: #002135;
  --hover-dropdown-color: #e7e7e7;
  --sider-header-background-color1: #8e2de2;
  --sider-header-background-color2: #000046;
  --sider-header-background-color3: #1cb5e0;
  --btn-backgroud-color: #004671;
  --btn-backgroud-color-hover: #003b60;
  --btn-border-color-focused: #16b48f;
  --btn-border-color-hover: #16b48f;
  --btn-delete-background-color: #f10606;
  --btn-delete-hover-color: #af0000;
  --login-background-color: #0f7251;
  --breadcrumb-background-color: #000;
  --footer-background-color: #000;
  --border-regular: #707070;
  --header-height: 65px;
  --sider-width: 220px;
  --sider-collapsed-width: 75px;
  --text-color: #ffff;
  // color-scheme: dark light;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  line-height: 1.43;
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  .movie-search-item {
    display: flex;
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    .menu-btn {
      display: block !important;
    }
  }

  .ant-layout-sider.sider-bar {
    width: 0px !important;
    min-width: 0px !important;
    overflow: hidden;
  }

  .body-content {
    margin-left: 0px !important;
  }

  .ant-layout-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .ant-popover.ant-popover-placement-bottom {
    margin: auto;
    width: 100%;
    left: auto !important;
    background-color: #000;

    .ant-popover-title {
      border-bottom: none;
    }

    .section-title.search {
      font-size: 1.8rem;
      margin: 0px;
    }

    .ant-popover-content {
      position: sticky;
      width: 100%;
      top: var(--header-height) !important;
      z-index: 1000;
    }

    .ant-popover-inner {
      background-color: #000;
    }
  }
}

@media only screen and (max-width: 690px) {
  .center-header.ant-input-group-wrapper,
  .center-header {
    display: none;
  }

  .right-header {
    display: flex;
    align-items: center;

    .ant-btn {
      display: block !important;
      margin-right: 0px;
    }
  }
}

@media only screen and (max-width: 480px) {
  // .ant-popover.ant-popover-placement-bottom {
  //   width: 100vw;
  // }
}

.certain-category-search-dropdown {
  .rc-virtual-list-holder {
    max-height: 50vh !important;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #000;
  }
}

.ant-dropdown {
  .ant-dropdown-menu.dropdown-search {
    max-height: 500px;
    overflow-y: scroll;
    .ant-dropdown-menu-item {
      padding: 10px;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.owl-nav {
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    background: transparent !important;
    transform: translateY(-100%);

    i {
      font-size: 30px;
      transition: 0.15s all;
      color: #707070;
    }

    &:hover {
      i {
        font-size: 35px;
        color: #006386;
      }
    }
  }
  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

.gradient-title-default {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  position: relative;

  strong {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color1),
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
  }

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color1),
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
  }
}

.section-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 22px;
  position: relative;

  &.width-fit {
    display: inline-block;
  }

  strong {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
  }

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
    left: 0;
    bottom: -5px;
  }
}

.owl-carousel .owl-item img {
  display: inline !important;
}

.ant-skeleton-element .ant-skeleton-image {
  width: 100%;
  height: 100%;
}

.movie-carousel-vertical-item,
.movie-carousel-horizontal-item {
  color: #fff;
  cursor: pointer;
  position: relative;
  display: block;
  // overflow: hidden;

  .img-box {
    position: relative;
  }

  .ant-image {
    width: 100%;
    height: 100%;

    .ant-image-img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      transition: all 0.3s;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
      opacity: 0.7;
    }

    .duration-episode-box {
      background-size: 200% 100%;
      background-position: -50px center;
    }

    .release-date-box {
      background-size: 200% 100%;
      background-position: -45px center;
    }

    .info {
      color: #ffffff;
    }
  }

  .duration-episode-box {
    color: #fff;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color1),
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
    background-size: 200% 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #000000bf 0px 3px 10px;
    left: 5px;
    top: 5px;
    transition: all 0.7s;
    .duration-episode {
      font-size: 12px;
    }
  }

  .release-date-box {
    color: #fff;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color3),
      var(--sider-header-background-color2),
      var(--sider-header-background-color1)
    );
    background-size: 200% 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #000000bf 0px 3px 10px;
    right: 5px;
    bottom: 5px;
    transition: all 0.7s;

    .release-date {
      font-size: 12px;
    }
  }

  .info {
    padding: 10px 0px;
    color: #3b3b3b;

    .title,
    .genres {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-bottom {
      display: flex;

      p + p {
        margin-left: 5px;
      }
    }
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    padding: 0px;
  }

  .ant-menu-item:hover {
    background-color: var(--hover-dropdown-color) !important;
  }

  .ant-menu-item-selected {
    background-color: var(--hover-dropdown-color) !important;
  }

  .ant-menu-item {
    margin: 0px;
  }

  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item,
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 45px;
    line-height: 45px;
  }
}

.ant-menu-item:hover {
  background-color: var(--hover-regular-color) !important;
}

.ant-input-wrapper,
.right-header {
  .ant-btn-primary {
    background: var(--btn-backgroud-color);
    border-color: var(--btn-backgroud-color);
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    border-color: var(--btn-backgroud-color-hover);
    background: var(--btn-backgroud-color-hover);
  }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--btn-border-color-hover);
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--btn-border-color-focused);
  box-shadow: var(--btn-border-color-focused);
}

.ant-table-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #e8e8e8;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #acacac;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 10px 20px;
  font-size: 16px;
}
