.ant-layout-header.header {
  z-index: 100;
  line-height: var(--header-height);
  line-height: var(--header-height);
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-btn {
    display: none;
    padding: 16px 18px;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    // border-right: 0.25px solid var(--border-regular);
    // margin-right: 10px;

    svg {
      font-size: 1.4em;
      // cursor: pointer;
      // margin-right: 10px;
      // margin-bottom: 3px;
    }
    .el-icon {
      margin-left: -5px;
      margin-right: -2px;
      font-size: 3rem;
    }
  }

  h1 {
    // background-image: linear-gradient(
    //   90deg,
    //   #230d72,
    //   #44107a,
    //   #ff1361,
    //   #ffc400,
    //   #ff5100,
    //   #231557
    // );

    background-image: linear-gradient(
      90deg,
      #290070,
      #ff1361,
      #ffc400,
      #ff5100,
      #9f0000,
      #25126b
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-weight: 200;
    font-size: 2em;
  }

  @keyframes textclip {
    from {
      background-position: 0% center;
    }
    to {
      background-position: 200% center;
    }
  }
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0px 20px;
  border-bottom: 0.25px solid var(--border-regular);
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  background-image: linear-gradient(
    to right,
    var(--sider-header-background-color2),
    var(--sider-header-background-color3),
    var(--sider-header-background-color2)
  );

  .ant-input-search .ant-input {
    color: #fff;
    background: transparent;
  }

  .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    background: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .ant-input-group-addon {
    background: none;
  }

  .ant-input-affix-wrapper {
    border: 1px solid #000;
    height: 40px;
    padding-left: 16px;
    &:hover {
      border-color: #000;
    }
  }

  .ant-input-search-button {
    border: 1px solid #000;
  }

  .ant-input-affix-wrapper-focused {
    border-color: #ff004c;
    &:hover {
      border-color: #ff004c;
    }
  }

  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 20px 20px 0;
    background: transparent;
    // border: 1px solid #001628;
    border-left: none;
    box-shadow: none;
    text-shadow: none;
  }

  .right-header {
    .ant-menu {
      .ant-menu-item:hover {
        background-color: var(--hover-regular-color) !important;
      }
    }

    .ant-btn {
      display: none;
    }
  }
}
