@media (prefers-color-scheme: dark) {
  .ant-breadcrumb {
    // background-color: var(--background-content-color);
  }
}

@media only screen and (max-width: 900px) {
  .ant-breadcrumb {
    padding: 15px 15px;
  }
}

.ant-breadcrumb {
  padding: 15px 30px;
  // background-color: var(--breadcrumb-background-color);
  border-bottom: 1px solid var(--border-regular);

  .ant-breadcrumb-link {
    a {
      color: #6c6c6c;
    }
  }

  & > span:last-child a {
    color: #ffffffea;
  }
}
