.add-movie {
  padding: 20px 10px;

  .add-movie-form {
    position: relative;
    border: 1px solid var(--el-border-color-light);
    padding: 20px 15px;
    border-radius: 5px;

    .el-form-item.footer-form {
      .el-form-item__content {
        flex-direction: row-reverse;
        gap: 15px;
      }
    }
  }
}
