@media only screen and (max-width: 1400px) {
  .ant-layout-sider.sider-rank {
    flex: 0 1 auto !important;
    width: 350px !important;
    max-width: auto !important;
    min-width: auto !important;
    .tabs-rank li span {
      font-size: 1.4rem;
    }

    .el-scrollbar__wrap.el-scrollbar__wrap--hidden-default {
      height: 110vh !important;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .ant-layout-sider.sider-rank {
    width: 100% !important;
    max-width: 100% !important;

    .tabs-rank li span {
      font-size: 1.6rem;
      padding: 10px 0px;
    }
  }
}

.ant-layout-sider.sider-rank,
.el-aside.sider-rank {
  background-color: #000;
  // background-color: #0e0e0e;
  padding: 0px 0px;

  .el-radio-group.rank {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(10%, auto));
    gap: 0px;
  }

  .tabs-rank {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    gap: 0px;

    li span {
      color: #fff;
      text-align: center;
      display: block;
      padding: 7px 0px;
      width: 100%;
      font-size: 1.6rem;
      transition: all 0.3s;
      border-radius: 3px;
      position: relative;
      z-index: 1;

      &:hover {
        background-color: #00607e;
      }
    }

    li {
      width: 100%;
      cursor: pointer;
      border-radius: 3px;
      user-select: none;
      white-space: nowrap;

      &.active {
        background-color: #00607e;

        span {
          &::before {
            content: '';
            position: absolute;
            border-top: 10px solid #007ca1;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;

            // border-top-left-radius: 0px;
            // border-bottom-left-radius: 0px;
            // border-top-right-radius: 0px;
            // border-bottom-right-radius: 30px;

            // box-shadow: 10px 0px 0px 0px #00607e;
            width: 15px;
            height: 10px;
            // bottom: 0px;
            // left: -15px;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%);
          }

          // &::after {
          //   content: '';
          //   position: absolute;
          //   border-top-left-radius: 0px;
          //   border-bottom-left-radius: 0px;
          //   border-top-right-radius: 30px;
          //   border-bottom-right-radius: 0px;
          //   transform: rotate(180deg);

          //   box-shadow: 10px 0px 0px 0px #00607e;
          //   width: 15px;
          //   height: 10px;
          //   bottom: 0px;
          //   right: -15px;
          //   // left: 50%;
          //   // transform: translate(-50%);
          // }
        }
      }
    }
  }
  .rank-data {
    padding-top: 10px;
  }
}
