@media only screen and (min-width: 1150px) and (max-width: 1300px) {
  .carousel-group {
    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 170px !important;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .carousel-group {
    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 150px !important;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .carousel-group {
    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 130px !important;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .carousel-group {
    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 150px !important;
      }
    }
  }
}

.movie-card-horizontal-item-skeleton {
  color: #fff;
  position: relative;
  display: block;

  .img-box {
    position: relative;
    height: 150px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .ant-image {
      width: 100%;
      height: 100%;

      img {
        transition: all 0.3s;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.movie-card-horizontal-item {
  color: #fff;
  cursor: pointer;
  position: relative;
  display: block;

  .img-box {
    position: relative;
    height: 150px;
    // min-width: 230px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 0.3s;

    .ant-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;

      img {
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }
    }

    .percent-viewed {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: var(--percent-viewed);
      background-color: red;
      z-index: 1;
    }

    .viewed-overlay-bar {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      z-index: 0;
      background-color: #57575787;
    }
  }

  .ant-skeleton-content .ant-skeleton-paragraph > li + li {
    margin-top: 10px;
  }

  .detail-flow {
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;

    .backdrop-box {
      position: relative;
      height: 190px;
      overflow: hidden;

      .ant-image {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          opacity: 1;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: var(--percent-viewed);
        background-color: red;
        z-index: 1;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        z-index: 0;
        background-color: #57575787;
      }
    }

    .bottom-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 10px 7px 10px;

      .widget {
        display: flex;
        justify-content: space-between;

        .left {
          display: flex;
          flex-direction: row;
          gap: 7px;
        }

        .ant-btn {
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--btn-backgroud-color-gray);
          border-color: #313131;

          svg.icon {
            font-size: 2.8rem;
          }

          &:hover {
            color: #fff;
            border-color: var(--border-regular-light);
          }

          &:focus {
            border-color: var(--border-regular-light);
          }
        }
      }

      .info {
        padding: 0px;

        .title {
          color: #fff;
        }

        .info-bottom {
          color: #d0d0d0;
        }

        .title,
        .genres {
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .genres {
          max-width: 70%;
        }

        .views-imdb {
          color: #d0d0d0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  &:hover {
    .img-box {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;

      img {
        transform: scale(1.05);
        opacity: 0.7;
      }
    }

    .duration-episode-box {
      background-size: 200% 100%;
      // background-position: -50px center;
      background-position: 100% center;
    }

    .release-date-box {
      background-size: 200% 100%;
      // background-position: -45px center;
      background-position: 100% center;
    }

    .info {
      color: #fff;
    }

    .detail-flow {
      z-index: 10;
      opacity: 1;
      height: 330px;
      width: 350px;
      transition-delay: 2s;
      background-color: #000;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      box-shadow: 0 3px 6px -4px #000000ba, 0 6px 16px 0 #00000098,
        0 9px 28px 8px #00000077;
      transition-duration: 0.3s;
    }
  }

  .el-skeleton__item .el-skeleton__text {
    padding: 7px 0px;
  }

  .duration-episode-box {
    color: #fff;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color1),
      var(--sider-header-background-color2),
      var(--sider-header-background-color3)
    );
    background-size: 200% 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #000000bf 0px 3px 10px;
    left: 5px;
    top: 5px;
    transition: all 0.7s;
    .duration-episode {
      font-size: 1.2rem;
    }
  }

  .release-date-box {
    color: #fff;
    background-image: linear-gradient(
      to right,
      var(--sider-header-background-color3),
      var(--sider-header-background-color2),
      var(--sider-header-background-color1)
    );
    background-size: 200% 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: #000000bf 0px 3px 10px;
    right: 5px;
    bottom: 5px;
    transition: all 0.7s;

    .release-date {
      font-size: 1.2rem;
    }
  }

  .info {
    padding: 10px 0px;
    color: #d0d0d0;

    .title,
    .genres {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-bottom {
      display: flex;

      p + p {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .body-content.expand {
    .movie-group.horizontal {
      grid-template-columns: repeat(auto-fit, minmax(24%, auto));

      .movie-card-horizontal-item {
        .img-box {
          transition: all 0.3s;
          height: 160px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .movie-group.horizontal {
    grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 160px;
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  .body-content.expand {
    .movie-group.horizontal {
      grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

      .movie-card-horizontal-item {
        .img-box {
          transition: all 0.3s;
          height: 160px;
        }
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .movie-group.horizontal {
    grid-template-columns: repeat(auto-fit, minmax(49%, auto)) !important;

    .movie-card-horizontal-item {
      .img-box {
        transition: all 0.3s;
        height: 190px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .movie-group.horizontal {
    .movie-card-horizontal-item {
      .img-box {
        height: 160px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .movie-group.horizontal {
    grid-template-columns: repeat(auto-fit, minmax(32%, auto)) !important;

    .movie-card-horizontal-item {
      .img-box {
        height: 160px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .movie-group.horizontal {
    grid-template-columns: repeat(auto-fit, minmax(48%, auto)) !important;

    .movie-card-horizontal-item {
      .img-box {
        height: 180px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-group.horizontal {
    .movie-card-horizontal-item {
      .img-box {
        height: 160px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .movie-group.horizontal {
    .movie-card-horizontal-item {
      .img-box {
        height: 140px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .movie-group.horizontal {
    .movie-card-horizontal-item {
      .img-box {
        height: 130px;
      }
    }
  }
}
